<h1>Produtos</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - Produto 1</div>
    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi exercitationem nulla vitae ad nobis, ex rem voluptatum! Tenetur reiciendis itaque eum, pariatur maiores accusamus. Ipsum molestias mollitia dignissimos incidunt eveniet!</div>
</div> <br>

<div class="card">
    <div class="card-head">Lorem ipsum - Produto 2</div>
    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi exercitationem nulla vitae ad nobis, ex rem voluptatum! Tenetur reiciendis itaque eum, pariatur maiores accusamus. Ipsum molestias mollitia dignissimos incidunt eveniet!</div>
</div>

